@font-face {
    font-family: HSN;
    src: url("خط/Shahd\ Font\ Bold.ttf");
}
*{
    font-family: "HSN Shahd";
}
::-webkit-scrollbar {
    width: 1.197vw;
}
::-webkit-scrollbar-track {
    background: #D6E2EC;
    border-radius: 0.364vw;
}
::-webkit-scrollbar-thumb {
    background: #B7CDDC;
    border-radius: 0.364vw;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(99, 115, 160); 
}
body{
    margin: 0;
}
/* //////////////////////////////////////////////////Header/////////////////////////////////////////////// */
header{
    background-image: linear-gradient(125deg,#4ea2d1,#07537f);
    width: 100%;
    height: 683px;
}
svg{
    position: relative;
    bottom: 13.7vw;
}
.logo{
    margin-left: 9.4791vw;
    margin-top: 0.41vw;
    width: 8.8vw;
}
nav{
    display: inline;
}
a{
    text-decoration: none;
    color: unset;
}
nav div{
    display: inline;
    vertical-align: 0.9375vw;
    font-size: 1.14vw;
    color: white;
    margin: 0 0.885vw;
}
.home{
    border: #F4AF16 solid 0.15625vw;
    border-radius: 1.145vw;
    padding: 0.104vw 0.364vw;
}
.nav{
    margin-left: 10.26vw;
}
.header-div{
    position: relative;
    z-index: 1;
}
.header-text{
    font-size: 2.1875vw;
    color: white;
    margin-left: 11.7vw;
    margin-top: 3.64vw;
}
.Explore-Now{
    margin-left: 11.718vw;
    margin-top: 5.729vw;
    height: 3.802vw;
    width: 11.770vw;
    background-color: white;
    color: #006CA8;
    border: none;
    font-size: 1.666vw;
    border-radius: 0.572vw;
    cursor: pointer;
}
.header-img-div{
    float: right;
    position: relative;
    top: 38px;

}
.header-img{
    margin-top: 4.687vw;
    margin-right: 11.718vw;
    height: 31.666vw;
    width: 31.474vw;
    
}

.header-text-div{
    float: left;
}
.social-media{
    height: 13.229vw;
    width: 13.229vw;
    background-color: #497A95;
    border-radius: 100%;
    position: absolute;
    left: 21.057vw;
    bottom: -0.225vw;
}
.social-media-text{
    text-align: center;
    font-size: 1.666vw;
    color: white;
    margin-top: 4.218vw;
    margin-bottom: -0.729vw;
}
.social-media-logos{
    display: inline-block;
    margin: 1.718vw 1.7vw;
}
.social-media-logo{
    margin: 0 0.9375vw;
}
.facebook{
    width: 0.728vw;
    height: 1.577vw;
}
.twitter{
    width: 1.390vw;
    height: 1.130vw;
}
.instagram{
    width: 1.431vw;
    height: 1.431vw;
}
.dot-div{
    text-align: center;
    position: absolute;
    left: 42%;
    margin-left: -0.468vw;
    bottom: -41.395vw;
}
.dot {
    cursor: pointer;
    height: 0.781vw;
    width: 0.781vw;
    margin: 0 0.104vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot-main{
    background-color: #F5AF19;
    border: solid #ffffff 0.078vw;
}
/* //////////////////////////////////////////////////Section 1: Welcome////////////////////////////////////////////////////// */
.welcome-div{
    margin-left: 27.968vw;
    text-align: center;
    width: fit-content;
    margin-top: 5.312vw;
}
.dash-welcome{
    width: 2.5vw;
    height: 0.416vw;
    margin: 0.520vw 0;
    display: inline-block;
    border-radius: 0.208vw;
    background-color: #006CA8;;
}
.welcome-text{
    font-size: 2.552vw;
    color: #006CA8;
    display: inline;
    margin: 0;
}
.pharma-defination{
    font-size: 1.458vw;
    color: #707070;
    text-align: center;
    margin-top: 0.260vw;
    margin-bottom: 2.812vw;
}
.defination-logos{
    width: 100%;
    height: 23.593vw;
    background-color: #497A95;
}
.defination-logo-agent{
    margin: 4.843vw 13vw 4.453vw 14.479vw;
    width: 6.633vw;
    height: 14.296vw;
    display: inline-block;
}
.defination-logo-agent-number{
    font-size: 3.333vw;
    color: #F5AF19;
    margin: 0.473vw 0.333vw 0.260vw 1.614vw;
    display: inline-block;
}
.defination-logo-agent-text{
    font-size: 1.666vw;
    color: #ffffff;
    margin: 0 1.062vw 0 1.562vw;
    display: inline-block;
}
.defination-logo-employee{
    margin: 4.739vw 13.020vw 4.453vw 0;
    width: 7.083vw;
    height: 14.401vw;
    display: inline-block;
}
.defination-logo-employee-number{
    font-size: 3.333vw;
    color: #F5AF19;
    margin: 0.390vw 0.208vw 0.260vw 1.770vw;
    display: inline-block;
}
.defination-logo-employee-text{
    font-size: 1.666vw;
    color: #ffffff;
    margin: 0 0.833vw 0 1.822vw;
    display: inline-block;
}
.defination-logo-branch{
    margin: 4.531vw 13.005vw 4.453vw 0;
    width: 7.463vw;
    height: 14.608vw;
    display: inline-block;
}
.defination-logo-branch-number{
    font-size: 3.333vw;
    color: #F5AF19;
    margin: 0.171vw 1.578vw 0.260vw 2.453vw;
    display: inline-block;
}
.defination-logo-branch-text{
    font-size: 1.666vw;
    color: #ffffff;
    margin: 0 2.458vw 0.156vw 2.765vw;
    display: inline-block;
}
.defination-logo-customer{
    margin: 4.583vw 10.875vw 4.609vw 0;
    width: 11.438vw;
    height: 14.401vw;
    display: inline-block;
}
.defination-logo-customer-number{
    font-size: 3.333vw;
    color: #F5AF19;
    margin: 0.390vw 1.239vw 0.260vw 3.375vw;
    display: inline-block;
}
.defination-logo-customer-text{
    font-size: 1.666vw;
    color: #ffffff;
    margin: 0 3.687vw 0 4.312vw;
    display: inline-block;
}
/* ///////////////////////////////////////////////////Section 2:About US////////////////////////////////////////// */
.about-us{
    width: 85.833vw;
    height: 39.062vw;
    margin: 6.041vw 7.083vw 4.713vw;
}
.about-us-img-div{
    width: 34.270vw;
    height: 39.062vw;
    margin-right: 2.083vw;
    position: relative;
    float: left;
    clear: both;
}
.about-us-video{
    position: absolute;
    width: 35.925vw;
    margin-top: calc(50% - 10.074vw);
}
.dash-about-us{
    display: inline-block;
    width: 1.145vw;
    height: 0.156vw;
    border-radius: 0.208vw;
    background-color: #006CA8;
    margin: 0.312vw 0;
}
.about-us-title-text{
    display: inline-block;
    font-size: 1.25vw;
    color: #006CA8;
}
.who-we-are{
    font-size: 1.822vw;
    color: #003E60;
    margin-bottom: 0.937vw;
}
.who-we-are-text{
    height: 27.343vw;
    font-size: 1.354vw;
    color: #707070;
    margin-bottom: 6.666vw;
    overflow: auto;
}
.who-we-are-text::-webkit-scrollbar{
    width: 0.781vw;
}
hr{
    opacity: 0.16;
    margin: 0;
}
/* ///////////////////////////////////////////////////////Section 3:About Company/////////////////////////////////////////// */
.about-company{
    text-align: center;
    margin-top: 5.859vw;
}
.dash-about-company{
    width: 2.135vw;
    height: 0.364vw;
    background-color: #006CA8;
    border-radius: 0.208vw;
    display: inline-block;
    margin: 0.208vw 0;
}
.about-company-text{
    font-size: 1.666vw;
    color: #006CA8;
    display: inline-block;
}
.our-team{
    font-size: 2.187vw;
    color: #003E60;
    text-align: center;
    margin-top: 0.625vw;
}
.team-member{
    margin: 2.135vw 10.843vw 7.942vw 14.895vw;
}
.member{
    display: inline-block;
    margin-right: 3.427vw;
}
.member-img{
    width: 8.020vw;
    height: 8.020vw;
}
.member-name{
    margin-top: 0.104vw;
    font-size: 1.145vw;
    color: #003E60;
    text-align: center;
}
/* /////////////////////////////////////////////////////////Section 4:Our Strategy////////////////////////////////// */
.our-strategy-text-div{
    display: inline-block;
    margin-left: 7.291vw;
    margin-top: 6.536vw;
}
.dash-our-strategy{
    width: 1.302vw;
    height: 0.208vw;
    margin: 0.520vw 0;
    background-color: #006CA8;
    display: inline-block;
}
.our-strategy-title-text{
    font-size: 2.083vw;
    color: #006CA8;
    display: inline-block;
    text-align: center;
    margin-bottom: 1.25vw;
}
.our-strategy-text{
    height: 27.343vw;
    width: 45.208vw;
    font-size: 1.354vw;
    color: #707070;
    margin-bottom: 3.177vw;
    padding-right: 3.489vw;
    overflow: auto;
}
.our-strategy-text::-webkit-scrollbar{
    width: 0.885vw;
}
.our-strategy-img-div{
    display: inline-block;
    background-image: url(TPW/bg-usman-yousaf-SakqLf78KVo-unsplash.png);
    background-size: 34.166vw;
    width: 34.166vw;
    height: 34.166vw;
    margin-left: 1.718vw;
    margin-top: 6.536vw;
    margin-bottom: 12.369vw;
}
.our-strategy-img-dr{
    width: 32.708vw;
    margin: 0.885vw 0.729vw 0.677vw;
}
/* ///////////////////////////////////////Section 5:Our Partners//////////////////////////////////// */
.our-partners-title{
    text-align: center;
}
.dash-our-partners{
    width: 1.302vw;
    height: 0.208vw;
    margin: 0.520vw 0;
    background-color: #006CA8;
    display: inline-block;
}
.our-partners-title-text{
    font-size: 2.083vw;
    color: #006CA8;
    display: inline-block;
    text-align: center;
    margin-top: 5.755vw;
}
.our-partners-text{
    font-size: 1.458vw;
    color: #707070;
    text-align: center;
    margin-top: 0.260vw;
    margin-bottom: 2.812vw;
}
.our-partners-img-div{
    margin: 0.781vw 5.208vw 3.515vw 5.260vw;
}
.our-partners-img{
    display: inline-block;
    margin-right: 2.805vw;
    width: 14.531vw;
}
/* //////////////////////////////////////////////Section 6:TimeLine//////////////////////////////////////// */
.timeline-title{
    text-align: center;
}
.dash-timeline{
    width: 1.302vw;
    height: 0.208vw;
    margin: 0.520vw 0;
    background-color: #006CA8;
    display: inline-block;
}
.timeline-title-text{
    font-size: 2.083vw;
    color: #006CA8;
    display: inline-block;
    text-align: center;
    margin-top: 5.755vw;
}
.timeline-text{
    font-size: 1.458vw;
    color: #707070;
    text-align: center;
    margin-top: 0.260vw;
    margin-bottom: 2.812vw;
}
.timeline-line{
    width: 79.791vw;
    height: 0.208vw;
    background-color: #006CA8;
    margin: 3.541vw 10.729vw 6.093vw 9.479vw;
    position: absolute;
}
.timeline-dot1{
    width: 1.510vw;
    height: 1.510vw;
    background-color: #006CA8;
    border-radius: 100%;
    position: relative;
    bottom: 1.888vw;
    margin-right: 17.812vw;
    display: inline-block;
}
.timeline-dot2{
    width: 1.510vw;
    height: 1.510vw;
    background-color: #006CA8;
    border-radius: 100%;
    position: relative;
    bottom: 1.888vw;
    margin-right: 17.812vw;
    display: inline-block;
}
.timeline-dot3{
    width: 1.510vw;
    height: 1.510vw;
    background-color: #006CA8;
    border-radius: 100%;
    position: relative;
    bottom: 1.888vw;
    margin-right: 17.812vw;
    display: inline-block;
}
.timeline-dot4{
    width: 1.510vw;
    height: 1.510vw;
    background-color: #006CA8;
    border-radius: 100%;
    position: relative;
    bottom: 1.888vw;
    margin-right: 17.812vw;
    display: inline-block;
}
.timeline-dot5{
    width: 1.510vw;
    height: 1.510vw;
    background-color: #006CA8;
    border-radius: 100%;
    position: relative;
    bottom: 0.755vw;
    display: inline-block;
    margin: 0;
}
.timeline-dot-text-div-bottom{
    position: relative;
    width: 7.291vw;
    height: 2.812vw;
    top: 1.754vw;
    right: 2.781vw;
}
.timeline-dot-text-div-top{
    position: relative;
    width: 9.479vw;
    height: 2.812vw;
    bottom: 3.204vw;
    right: 3.781vw;
}
.timeline-dot-date{
    font-size: 1.302vw;
    color: #006CA8;
    text-align: center;
}
.timeline-dot-text{
    font-size: 0.833vw;
    color: #707070;
    text-align: center;
}
.timeline-line-div{
    width: 84.739vw;
    height: 9.218vw;
    margin-bottom: 6.093vw;
}
/* //////////////////////////////////////////////footer:footr//////////////////////////////////////// */
.footer{
    background-image: linear-gradient(to left,#4ea2d1,#07537f);
    width: 100%;
}
.footer-logo{
    width: 26.656vw;
    height: 20.208vw;
    display: inline-block;
    margin: 1.822vw 2.864vw 4.947vw 6.614vw;
}
.footer-logo-img{
    width: 27.656vw;
    height: 20.208vw;
}
.footer-links{
    display: inline-block;
    margin-top: 3.645vw;
    vertical-align: top;
}
.link-word{
    font-size: 2.239vw;
    color: #F5AF19;
    text-align: center;
    margin-bottom: 1.510vw;
}
.links-div1{
    font-size: 1.145vw;
    text-align: left;
    display: inline-block;
    color: #ffffff;
    margin-right: 9.010vw;
    line-height: 2.4;
}
.links-div2{
    font-size: 1.145vw;
    text-align: left;
    display: inline-block;
    color: #ffffff;
    line-height: 2.4;
}
.contact-us{
    display: inline-block;
    margin-top: 10.260vw;
    vertical-align: top;
}
.contact-us-text{
    font-size: 1.25vw;
    color: #ffffff;
    text-align: center;
}
.contact-us-logos{
    margin: 1.197vw 13.151vw 1.625vw 14.401vw;
}
.contact-us-logo{
    margin-right: 0.729vw;
    width: 2.814vw;
}
.contact-us-number{
    font-size: 1.25vw;
    color: #ffffff;
    text-align: center;
}
.footer-dashline{
    width: 81.354vw;
    height: 0.052vw;
    background-color: #ffffff;
    margin-left: 9.359vw;
}
.footer-copyright{
    margin-top: 1.484vw;
}
.copyright-text{
    font-size: 1.145vw;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0.468vw 3.437vw 1.458vw 38.109vw;
}